<p id="notice"><%= notice %></p>
<div class="row" style="padding-top: 15px;">

  <div class="col">
    <h1 style="font-size: 50px;">Ingredientes</h1>
  </div>
  <div class="col">
  <span style="padding-left: 400px; ">
<%= link_to 'Novo Ingrediente', new_ingredient_path, :class=> "btn btn-outline-success btn-lg" %>
  </span>
  </div>
</div>


  <ul class="list-group">
    <% @ingredients.each do |ingredient| %>
      <li class="list-group-item" style="background-color: #212529; border-style: solid; border-color: white; margin-right: 600px;">
      <%= link_to ingredient.description , ingredient, :class=> "btn btn-warning"  %>
        <a data-confirm="Deseja Realmente Excluir?" class="close" data-method="delete" href="/ingredients/<%=ingredient.id%>">
          <span aria-hidden="true">&times;</span>
        </a>
      </li>
    <% end %>
  </ul>
