<div class="container" style="padding-top: 60px;">
<p id="notice"><%= notice %></p>


  <h4><strong>Nome:</strong>
  <%= @ingredient.description %>
  </h4>

<%= link_to 'Editar', edit_ingredient_path(@ingredient), :class=> "btn btn-primary"  %>

<%= link_to 'Back', ingredients_path, :class=> "btn btn-info"%>
</div>
